<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="pixi/pixi.min.js"></script>
  <script src="filters/pixi-filters.js"></script>
  <body>
    <!-- PIXI.JS will place canvas here -->
  </body>
</html>
<script type="text/javascript" src="/javascripts/thumbnail.js"></script>
<script type="text/javascript" src="/javascripts/appCanvas.js"></script>