body {
  /*background-color: rgba(22, 21, 21, 0.925);
  background-image: url("http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
